include dash_js_message/dash_js_message.min.js
include dash_js_message/dash_js_message.min.js.map
include dash_js_message/async-*.js
include dash_js_message/async-*.js.map
include dash_js_message/*-shared.js
include dash_js_message/*-shared.js.map
include dash_js_message/metadata.json
include dash_js_message/package-info.json
include README.md
include LICENSE
include package.json
